:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

td {
  padding-right: 1rem;
}

input {
  width: 25rem;
  height: 2.3rem;
  border: 1px solid rgb(186, 186, 186);
  padding-left: 1rem;
  font-size: 1rem;
}

table {
  display: flex;
  justify-content: center
}

#root {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}

.country-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}